
ion-title {
    margin: 20px 2px;
    padding: 50px 10px;
    text-align: center;
    font-family: cursive;
    font-display: bold;
    font-size: 2.5em;
    background-color: rgb(252, 144, 132);
    border: black solid 2px;
}

ion-button {
    border: 2px solid black;
}
ion-footer {
   
    margin: 20px 0px 0px;
    text-align: center;
    font-display: underline;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}