<ion-header>
  <ion-toolbar>
    <ion-title>Chapter One</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button color="dark" expand="block" [routerDirection]="'root'" [routerLink]="['/ch1pg1']">Next Page
  </ion-button>
  <ion-button color="medium" expand="block" [routerDirection]="'root'" [routerLink]="['/toc']">Go back to TOC
  </ion-button>
  <ion-button color="secondary" expand="block" [routerDirection]="'root'" [routerLink]="['/cover-page']">Cover Page
  </ion-button>
  <ion-footer>1</ion-footer>
</ion-content>
