<ion-header>
    <ion-toolbar>
      <ion-title>Breve</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-img src="../../assets/images/download (1).jpeg" alt="images" class="pic3"></ion-img>

  <p>The breve is my most favorite blend of dairy and espresso. It's a creamy, smooth, low carb, high fat deliciousness.
    In the past I enjoyed too much sugary creamer in my espresso. I've grown up and so have my taste buds, and now I don't need any sugar at all, in fact I don't care for it, and I only take 2t of cream.
  </p>

  <ion-button color="dark" expand="block" [routerDirection]="'root'" [routerLink]="['/chapter3']">Next Chapter
  </ion-button>
  <ion-button color="light" expand="block" [routerDirection]="'root'" [routerLink]="['/chapter2']">Previous Page
  </ion-button>
  <ion-button color="medium" expand="block" [routerDirection]="'root'" [routerLink]="['/toc']">Go back to TOC
  </ion-button>
  <ion-button color="secondary" expand="block" [routerDirection]="'root'" [routerLink]="['/cover-page']">Cover Page
  </ion-button>
  <ion-footer>4</ion-footer>

</ion-content>