<ion-header>
    <ion-toolbar>
        <ion-title>Latte</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-img src="../../assets/images/download.jpeg" alt="images"></ion-img>
    <p>A latte is as good a place as any to talk about the delicious caffeinated beverage that brings pleasure to a day.
        It's got a milk base and can be quite tasty.</p>

    <ion-button color="dark" expand="block" [routerDirection]="'root'" [routerLink]="['/chapter2']">Next Chapter
    </ion-button>
    <ion-button color="light" expand="block" [routerDirection]="'root'" [routerLink]="['/chapter1']">Previous Page
    </ion-button>
    <ion-button color="medium" expand="block" [routerDirection]="'root'" [routerLink]="['/toc']">Go back to TOC
    </ion-button>
    <ion-button color="secondary" expand="block" [routerDirection]="'root'" [routerLink]="['/cover-page']">Cover Page
    </ion-button>
    <ion-footer>2</ion-footer>

</ion-content>
