<ion-header>
  <ion-toolbar>
    <ion-title>Chapter Three</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button color="dark" expand="block" [routerDirection]="'root'" [routerLink]="['/ch3pg1']">Next Page</ion-button>
  <ion-button color="light" expand="block" [routerDirection]="'root'" [routerLink]="['/ch2pg1']">Previous Page
  </ion-button>
  <ion-button color="medium" expand="block" [routerDirection]="'root'" [routerLink]="['/toc']">Go back to TOC</ion-button>
  <ion-button color="secondary" expand="block" [routerDirection]="'root'" [routerLink]="['/cover-page']">Cover Page</ion-button>
  <ion-footer>5</ion-footer>

</ion-content>
