<ion-header>
  <ion-toolbar>
    <ion-title>Macchiato</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="../../assets/images/download (2).jpeg" alt="images" class="pic4"></ion-img>

  <p>For those who prefer a little sweeter side of life, the macchiato is the answer for what ales the sluggish riser.
    Throw some smooth caramel on top and you'll be happy with each swallow.</p>

  <ion-button color="dark" expand="block" [routerDirection]="'root'" [routerLink]="['/chapter4']">Next Chapter
  </ion-button>
  <ion-button color="light" expand="block" [routerDirection]="'root'" [routerLink]="['/chapter3']">Previous Page
  </ion-button>
  <ion-button color="medium" expand="block" [routerDirection]="'root'" [routerLink]="['/toc']">Go back to TOC
  </ion-button>
  <ion-button color="secondary" expand="block" [routerDirection]="'root'" [routerLink]="['/cover-page']">Cover Page
  </ion-button>
  <ion-footer>6</ion-footer>

</ion-content>